
.bg-img{
  background-image: url("../img/apo.jpg");
}

.bg{
  background-color: #1A1B3B;
}

.bg-gray{
  background-color: #DFDFDF;
}

.dev{
  border: solid 10px white;
}

.s-border{
  border: solid 7px white;
}

.m-top{
  margin-top: -90px !important;
}

.font-russo{
  font-family: 'Russo One', sans-serif;
}

.font-poiret{
  font-family: 'Poiret One', cursive;
}

.btn.btn-custom-lg,
.btn.btn-custom-sm,
.btn.btn-custom-xs {
  border-radius: 0;
}
/*Global*/

.btn.btn-square {
  border-radius: 0;
}

.interface{
  background-color: #F5C55E;
  height: 400px;
  width: 100%;
}

.thebox{
  padding-bottom: 100px;
  padding-top: 70px;
  margin-top: 50px;
}

.box{
  border: 10px solid #FFFEAA;
}
